<form method="post" action="{{ path('fiche_s_t_delete', {'id': fiche_s_t.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_s_t.id) }}">
    <button class="btn">Delete</button>
</form>
