{% extends 'base2.html.twig' %}

{% block title %}Edit FicheST{% endblock %}

{% block body %}
    <h1>Edit FicheST</h1>

    {{ include('fiche_s_t/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fiche_s_t_index') }}">back to list</a>

    {{ include('fiche_s_t/_delete_form.html.twig') }}
{% endblock %}
