{% extends 'base2.html.twig' %}

{% block title %}New Boutique{% endblock %}

{% block body %}
    <h1>Create new Boutique</h1>

    {{ include('boutique/_form.html.twig') }}

    <a href="{{ path('boutique_index') }}">back to list</a>
{% endblock %}
